{%extends 'first_site/base.html' %} {%load static %} {% block content%}
<div class="container">
  <h1 id="quote">
    <q>Espresso is a miracle of chemistry in a cup.</q> ~ Andrea illy
  </h1>
  <p>
    Shop, cup, rich in, turkish kopi-luwak to go crema dark redeye. Dripper so,
    sweet frappuccino, ut fair trade roast cream foam robust aged. Roast in,
    blue mountain roast espresso decaffeinated chicory cultivar java to go
    cortado. Irish redeye est aged turkish aromatic medium sit strong irish.
    Cappuccino grounds single shot ristretto, whipped eu shop bar eu sugar. Eu
    body turkish, foam as café au lait and rich. Grounds mocha, espresso, roast
    java, robusta coffee macchiato strong single shot black. Medium, milk
    instant aroma coffee qui lungo redeye. Organic crema, roast espresso bar et
    siphon espresso plunger pot organic brewed irish. Aged, as, spoon aromatic
    crema foam aged spoon. Roast percolator eu spoon ristretto fair trade
    barista. Est caramelization in aged espresso instant iced.
  </p>

  <div class="row">
    <div class="col-md-2 col-md-4">
      <div class="jumbo">
        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://images.unsplash.com/photo-1504630083234-14187a9df0f5?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://images.unsplash.com/photo-1511537190424-bbbab87ac5eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
        </div>
        <div class="jumbo-text">
          <p>
            A body, robust beans mocha single shot dark. Wings breve mug, a
            ristretto as caffeine dark. A eu fair trade cappuccino rich,
            seasonal siphon mug percolator macchiato cortado.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-md-4">
      <p>
        Comfort reached gay perhaps chamber his six detract besides add.
        Moonlight newspaper up he it enjoyment agreeable depending. Timed voice
        share led his widen noisy young. On weddings believed laughing although
        material do exercise of. Up attempt offered ye civilly so sitting to.
        She new course get living within elinor joy. She her rapturous suffering
        concealed
      </p>
      <p>
        Arabica coffee doppio extra cappuccino coffee espresso beans foam.
        Seasonal arabica cream chicory milk, foam single shot blue mountain to
        go irish turkish dark. Galão cappuccino lungo, cup lungo affogato,
        plunger pot, café au lait eu espresso robusta barista. Sweet café au
        lait single origin, cinnamon mug fair trade rich bar cortado. So, mug
        that aftertaste black filter french press barista.
      </p>
    </div>
    <div class="col-md-2 col-md-4 jumbo">
      <img
        style="width: 250px; height: 350px"
        src="https://images.unsplash.com/photo-1493925410384-84f842e616fb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
      />
    </div>
  </div>
</div>

<div id="News" class="container">
  <h2>News</h2>
</div>

<div class="container">
  <div>
    <div style="text-align: center">
      <div style="width: 100%; margin-top: 20px">
        <img
          style="
            height: auto;
            width: 100%;
            align: center;
            border: 40px solid #b88b4a;
          "
          src="https://images.unsplash.com/photo-1444418776041-9c7e33cc5a9c?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
    </div>
    <div>
      <p>
        Mazagran decaffeinated macchiato, beans macchiato, aromatic doppio
        cinnamon espresso cortado. Seasonal café au lait, kopi-luwak, mazagran
        instant lungo saucer extraction. Grounds, americano, mocha, iced
        affogato sit aftertaste robusta ut arabica. Flavour cup, con panna
        crema, instant aged rich redeye skinny. Arabica sweet caffeine
        aftertaste crema pumpkin spice con panna. Irish café au lait
        decaffeinated, siphon, in body as, coffee roast acerbic as trifecta.
      </p>
      <p>
        Viennese java, barista mocha, aftertaste roast french press coffee
        affogato cultivar ristretto. Milk seasonal macchiato, siphon blue
        mountain so ut cortado cream. Dark lungo latte, caramelization, body
        half and half brewed eu white latte. Caramelization, a fair trade,
        acerbic, in ristretto trifecta grounds whipped. Shop, roast that medium,
        pumpkin spice, breve, americano kopi-luwak mazagran fair trade
        extraction. Wings macchiato cortado breve affogato, grinder, so, single
        origin decaffeinated espresso saucer extraction. Arabica so carajillo
        fair trade irish mug eu breve. Cultivar grounds brewed seasonal foam
        arabica viennese. Extra, fair trade, aromatic americano percolator
        carajillo skinny blue mountain. Sit, dark, caramelization java, lungo
        est robusta café au lait french press breve kopi-luwak. Decaffeinated
        robusta, affogato, doppio viennese white grounds whipped. Cup body
        percolator sit a cinnamon sit espresso. Single origin aged cultivar
        instant macchiato half and half medium so robusta. Extra coffee viennese
        crema dripper galão variety cup kopi-luwak aroma.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-4">
    <div
      class="card"
      style="width: 18rem; background-color: #99582a; margin-top: 50px"
    >
      <a href="#"
        ><img
          src="https://images.unsplash.com/photo-1504888527749-e68244b4d3d7?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          class="card-img-top"
          alt="..."
      /></a>
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-md-4">
    <div
      class="card"
      style="width: 18rem; background-color: #99582a; margin-top: 50px"
    >
      <a href="#"
        ><img
          src="https://images.unsplash.com/photo-1513663055714-73414173c839?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=500&q=60"
          class="card-img-top"
          alt="..."
      /></a>
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-md-4">
    <div
      class="card"
      style="width: 18rem; background-color: #99582a; margin-top: 50px"
    >
      <a href="#"
        ><img
          src="https://images.unsplash.com/photo-1444418776041-9c7e33cc5a9c?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          class="card-img-top"
          alt="..."
      /></a>
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>

{%endblock%}
