{% extends 'first_site/base.html' %}
{% block content %}
<div class="container">

 <h1 class='posttitle'>{{post.title}}</h1>
 {%if post.published_date%}
    <div class="date postdate">
     {{post.published_date}}
    </div>
 {% else %}
 <div class="publish">
   <a class='btn cust_btn' href="{% url 'post_publish' pk=post.pk%}">Publish</a>
 </div>
 {% endif %}
</div>
 <div class="container">
   <div class="display_img">
     <img style="width:500px;"src="{{post.image.url}}" alt="">
   </div>
   <p>{{post.text|safe|linebreaks}}</p>
 </div>



 {%if user.is_authenticated%}
   <a class="btn cust_btn" href="{% url 'post_update' pk=post.pk %}"><span class="fa fa-pencil"></span></a>
   <a class="btn cust_btn" href="{% url 'post_delete' pk=post.pk %}"><span class="fa fa-remove"></span></a>
 {% endif %}

<hr>

 <div class="container">

 {%for comment in post.comments.all%}
 <br>
   {%if user.is_authenticated or comment.approved_comment%}
      {% if not comment.approved_comment %}
        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="fa fa-remove"></span></a>
        <a class="btn cust_btn" href="{% url 'comment_approve' pk=comment.pk %}"><span class="fa fa-ok">ok</span></a>
      {% endif %}
      <div class="container">
        <h6>Posted By:{{comment.author}}</h6>
        <p>{{comment.text|safe|linebreaks}}</p>
          <p>{{comment.created_date}}</p>
          <hr>
      </div>

   {% endif %}
   {%empty%}
  {%endfor%}
    <a class="btn cust_btn" href="{% url 'add_comment_to_post' pk=post.pk %}"><span class='fa fa-comment-o'> Add Comment</span></a>
</div>







{% endblock %}
