{% extends 'first_site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">

<div class="col-16 container">
  <a style="color:black;"href="{%url 'admin:index' %}"><h3>Must be a Supeuser, Click here to visit admin site</h3></a>
  {%if forms.errors%}
     <p>Your username and password didn't matched , Please try again!</p>
  {% endif %}
  <div class="tab">
    <div class="box">
      <div class="box1">
        <img src="https://img.icons8.com/cotton/64/000000/gender-neutral-user--v3.png"/>
      <!-- <h1>Login!</h1> -->
       </div>
    <form action="{% url 'login' %}" method="post">
      {%csrf_token%}
      {{form|crispy}}
      <button id="btn" type="submit" class="btn" value="Login">Login!</button>
      <input type="hidden" name="next" value="{{next}}">
     </form>
 </div>
</div>
</div>
</div>


{% endblock %}
